# Troubleshooting

Eventually, all code will fail. Even GETTSIM's and your code is no exception. Therefore, GETTSIM offers a debug mode for the function `compute_taxes_and_transfers` which helps you to find the source of the error.

Let us take the same example as used in the [tutorial on basic usage](basic_usage.ipynb), but reduced to the computation of `rentev_beitr_m` which are the monthly contribution to the pension insurance.

In [1]:
import pandas as pd
from gettsim import compute_taxes_and_transfers
from gettsim import set_up_policy_environment

In the following cell, we create all necessary data to run the example.

In [2]:
data = pd.DataFrame(
    {
        "p_id": 1,
        "tu_id": 1,
        "hh_id": 1,
        "bruttolohn_m": 1000,
        "wohnort_ost": False,
    },
    index=[0],
)
data

   p_id  tu_id  hh_id  bruttolohn_m  wohnort_ost
0     1      1      1          1000        False

In [3]:
policy_params, policy_functions = set_up_policy_environment(2020)

In the following cell, we call the function to compute quantities in the tax and transfer system. Note that, `debug = True` which enables the debug mode. It is `False` by default. The debug mode differs from the usual call in two ways:

1. All necessary inputs to compute the `targets` and all intermediate variables are returned. This lets you assess your inputs and outputs together which can be useful to identify issues which may be preventing certain variables from being computed.
2. If an exception occurs while computing the targets, the exception is printed, but not raised. The variables which depend on the variable where the exception occurred are not computed.

The following call shows the effect of the debug mode when no exception occurs.

In [6]:
df = compute_taxes_and_transfers(
    data=data,
    functions=policy_functions,
    params=policy_params,
    targets="rentenv_beitr_m",
    debug=True,
)

The resulting DataFrame contains all necessary input variables as well as the target and intermediate variables.

In [7]:
df

,hh_id,tu_id,p_id,bruttolohn_m,wohnort_ost,regulär_beschäftigt,ges_beitr_arbeitsl_v_midi_jobreturn,rentenv_beitr_regular_job,geringfügig_beschäftigt,in_gleitzone,midi_job_bemessungsentgelt,ges_beitr_rentenv_midi_job,ag_beitr_rentenv_midi_job,an_beitr_rentenv_midi_job,rentenv_beitr_m
0,1,1,1,1000,False,False,NaN,NaN,False,True,961.040588,178.753549,93.0,85.753549,85.753549

## Debug Mode with an Exception

What happens when an exception is raised while producing the target? We artificially produce an error with a modified user function. For exemplary purposes we modify GETTSIM's function `_mini_job_grenze` which is called when computing the pension contributions. Instead of its usual functionality of returning the income threshold for marginal employment, we overwrite it to raise an error when called (note that we could do so with any other function as well).

In [9]:
def _mini_job_grenze():
    raise ValueError

In [11]:
df = compute_taxes_and_transfers(
    data=data,
    functions=[policy_functions, _mini_job_grenze],
    params=policy_params,
    targets="rentenv_beitr_m",
    debug=True,
)

The traceback of the error is printed, but the execution is continued. The resulting DataFrame captures all input variables as well as variables which could be produced without errors.

In [12]:
df

,hh_id,tu_id,p_id,bruttolohn_m,wohnort_ost,regulär_beschäftigt,ges_beitr_arbeitsl_v_midi_jobreturn,rentenv_beitr_regular_job,geringfügig_beschäftigt,in_gleitzone,midi_job_bemessungsentgelt,ges_beitr_rentenv_midi_job,ag_beitr_rentenv_midi_job,an_beitr_rentenv_midi_job,rentenv_beitr_m
0,1,1,1,1000,False,False,NaN,NaN,False,True,961.040588,178.753549,93.0,85.753549,85.753549