In [1]:
import pandas as pd
from gettsim.interface import compute_taxes_and_transfers
from gettsim.pre_processing.policy_for_date import get_policies_for_date

In [2]:
df = pd.DataFrame(
    {
        "p_id": 1,
        "tu_id": 1,
        "hh_id": 1,
        "bruttolohn_m": 1000,
        "wohnort_ost": False,
        "kind": False,
        "alter": 35,
        "selbstständig": False,
        "hat_kinder": False,
        "eink_selbst_m": 0,
        "ges_rente_m": 0,
        "prv_krankenv": False,
        "_zu_verst_eink_kein_kinderfreib_tu": 12000,
        "_zu_verst_kapital_eink_tu": 0,
        "kinderfreib_tu": 0,
        "_kindergeld_m_tu_basis": 0,
    },
    index=[0],
)

In [3]:
df

,p_id,tu_id,hh_id,bruttolohn_m,wohnort_ost,kind,alter,selbstständig,hat_kinder,eink_selbst_m,ges_rente_m,prv_krankenv,_zu_verst_eink_kein_kinderfreib_tu,_zu_verst_kapital_eink_tu,kinderfreib_tu,_kindergeld_m_tu_basis
0,1,1,1,1000,False,False,35,False,False,0,0,False,12000,0,0,0

In [4]:
params_dict, policy_dict = get_policies_for_date("2020-01-01")

In [5]:
columns = [
    "_kindergeld_m_tu_basis",
    "kinderfreib_tu",
    "_zu_verst_kapital_eink_tu",
    "_zu_verst_eink_kein_kinderfreib_tu",
]

In [6]:
result_df = compute_taxes_and_transfers(
    df,
    user_functions=policy_dict,
    user_columns=columns,
    params=params_dict,
    targets=[
        "eink_st_tu",
        "soli_st_tu",
        "ges_krankenv_beitr_m",
        "rentenv_beitr_m",
        "arbeitsl_v_beitr_m",
        "rentenv_beitr_m",
    ],
)

In [8]:
result_df

,tu_id,hh_id,p_id,abgelt_st_tu,_beantrage_kind_freib_tu,ges_krankenv_beitr_rente,ges_krankenv_beitr_selbst,krankenv_beitr_regulär_beschäftigt,_rentenv_beitr_regular_job,_arbeitsl_v_regular_job,an_beitr_krankenv_midi_job,_an_beitr_rentenv_midi_job,_an_beitr_arbeitsl_v_midi_job
0,1,1,1,0.0,False,0.0,NaN,NaN,NaN,NaN,72.383372,85.753549,11.064974