# The interface

This notebook gives a short introduction to the main parts of gettsim's interface. gettsim has two main functions which are imported in the following cell.

In [1]:
import pandas as pd
from gettsim import compute_taxes_and_transfers
from gettsim import set_up_policy_environment

To run the example, here is some data of one individual.

In [2]:
data = pd.DataFrame(
    {
        "p_id": 1,
        "tu_id": 1,
        "hh_id": 1,
        "bruttolohn_m": 1000,
        "wohnort_ost": False,
        "kind": False,
        "alter": 35,
        "selbstständig": False,
        "hat_kinder": False,
        "eink_selbst_m": 0,
        "ges_rente_m": 0,
        "prv_krankenv": False,
        "_zu_verst_eink_kein_kinderfreib_tu": 12000,
        "_zu_verst_kapital_eink_tu": 0,
        "kinderfreib_tu": 0,
        "kindergeld_m_tu_basis": 0,
    },
    index=[0],
)
data

,p_id,tu_id,hh_id,bruttolohn_m,wohnort_ost,kind,alter,selbstständig,hat_kinder,eink_selbst_m,ges_rente_m,prv_krankenv,_zu_verst_eink_kein_kinderfreib_tu,_zu_verst_kapital_eink_tu,kinderfreib_tu,kindergeld_m_tu_basis
0,1,1,1,1000,False,False,35,False,False,0,0,False,12000,0,0,0

To load the parameters for the tax and transfer system, you have to provide a date to the function `set_up_policy_environment` which can be given as a string. `"2020"` loads the correct parameters for the year 2020. It is equivalent to `"2020-01-01"` meaning the state of the tax and transfer system at the first day of 2020.

The function has two return values.

- `policy_params` is a dictionary containing date-specific parameters.
- `policy_functions` is a dictionary containing functions which are necessary to compute quantities in the tax and transfer system on the provided date.

In [3]:
policy_params, policy_functions = set_up_policy_environment(2020)

gettsim is able to compute many quantities internally. If you want gettsim to take some variables in the data as given and proceed computations from thereon, you have to pass the variable names as a list.

In [4]:
columns_overriding_functions = [
    "kindergeld_m_tu_basis",
    "kinderfreib_tu",
    "_zu_verst_kapital_eink_tu",
    "_zu_verst_eink_kein_kinderfreib_tu",
]

At last, we have to define the targets or the variables we would like to compute. `targets` can be a string or a list of strings.

If you pass no targets, gettsim attempts to compute all possible variables in the tax and transfer system which requires more input data.

In [5]:
targets = [
    "eink_st_tu",
    "soli_st_tu",
    "ges_krankenv_beitr_m",
    "rentenv_beitr_m",
    "arbeitsl_v_beitr_m",
    "rentenv_beitr_m",
]

To compute the target variables, call `compute_taxes_and_transfers` with the correct inputs.

In [6]:
df = compute_taxes_and_transfers(
    data=data,
    params=policy_params,
    functions=policy_functions,
    targets=targets,
    columns_overriding_functions=columns_overriding_functions,
)

In [7]:
df

,eink_st_tu,soli_st_tu,ges_krankenv_beitr_m,rentenv_beitr_m,arbeitsl_v_beitr_m,rentenv_beitr_m
0,428.242106,0.0,72.383372,85.753549,11.064974,85.753549